<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight([%-5level %-8thread %F:%L] - %msg) %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="com" level="warn" />
    <logger name="org" level="warn" />
    <logger name="org.apache" level="info" />

    <!-- debug your code  -->
    <logger name="cn.teclub" level="info" />
    <logger name="cn.teclub.ha3.server.ctrl" level="debug" />
    <logger name="cn.teclub.ha3.server.core" level="debug" />

    <logger name="cn.teclub.ha3.server.dao" level="trace"/>


    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>


